.navbar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 999 !important;
    background-color: #fff;
}

.navbar .logo a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    
}
.navbar .logo a:hover{
    color: #000;
}
.navbar-items{
    display: flex;
    align-items: center;
}
.navbar-items a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: .4s;
    color: #000;
    margin-right: 30px;
}

.navbar-items a:hover {
    color: #7880FF !important;
}

.login-btn{
    background: #7880FF !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: .4s;
    padding: 10px 25px;
    border: 1px solid #7880FF;
}

.login-btn:hover{
    color: #7880FF !important;
    border: 1px solid #7880FF !important;
    background-color: transparent !important;
}